#gameArea {
	position: absolute;
	top: 0;
	left: 0;
}

#message {
	position: absolute;
	top: 500px;
	left: 150px;
	width: 250px;
	color: red;
}

#mapholder {
	position: absolute;
	top: 250px;
	left: 150px;
}
